<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CA.Properties.Settings.AuthConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Auth.accdb"
            providerName="System.Data.OleDb" />
        <add name="CA.Properties.Settings.CompTechConnectionString" connectionString="Data Source=ROMANOV;Initial Catalog=CompTech;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>